:root {
  --shadow-color: 0 4px 6px rgba(0, 0, 0, 0.5);
  --border-checkbox: 1px solid #ccc;
  --lightMode-background: #fafafa;
  --darkMode-background: #080b12;
  --color-taskbg: #f9f9f9;
  --color-taskfont: #333;
  --color-filterActived: #007bff;
  --color-placeholder: #333;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

nav ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  min-height: 100vh;
  background-color: var(--lightMode-background);
  color: #fff;
}

.general-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.form {
  align-items: center;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
  background: var(--color-taskbg);
  color: var(--color-placeholder);
  width: 100%;
  border-radius: 8px;
  box-shadow: var(--shadow-color);
  padding: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.label-circle {
  width: 20px;
  height: 20px;
  border: var(--border-checkbox);
  border-radius: 10px;
  background-color: var(--color-taskbg);
}

.input {
  border: none;
  background: none;
  font-size: 1rem;
  color: var(--color-placeholder);
  outline: none;
}
