/* Footer */
.listFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #c8cbe7;
  padding: 10px;
  border-top: #7a7a7a solid 1px;
  background: var(--color-taskbg);
  border-radius: 0 0 8px 8px;
  padding-top: 20px;
  box-shadow: var(--shadow-color);
}

.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  background-color: var(--color-taskbg);
  padding: 10px;
  border-radius: 8px;
  box-shadow: var(--shadow-color);
}

.filter {
  background: none;
  border: none;
  color: #c8cbe7;
  cursor: pointer;
  font-size: 0.9rem;
  cursor: pointer;
}

.filterActive {
  color: var(--color-filterActived);
  font-weight: bold;
}
